.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
    padding: 10px;
}

.navbar a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #495057;
}
